<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILoginService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GameService/GameService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginService"
                contract="GameService.ILoginService" name="WSHttpBinding_ILoginService">
                <identity>
                    <userPrincipalName value="DESKTOP-UN4IR9N\Jarko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>