<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="TcpBindingGameService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="HttpBindingLoginService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GameService/LoginService.svc/LoginService"
                binding="wsHttpBinding" bindingConfiguration="HttpBindingLoginService"
                contract="LoginService.ILoginService" name="HttpBindingLoginService">
                <identity>
                    <userPrincipalName value="DESKTOP-UN4IR9N\Jarko" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://desktop-un4ir9n/GameService/GameService.svc/GameService"
                binding="netTcpBinding" bindingConfiguration="TcpBindingGameService"
                contract="GameService.GameService" name="TcpBindingGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-UN4IR9N\Jarko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>