<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ILoginService" />
                <binding name="WSDualHttpBinding_IGameService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GameService/LoginService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ILoginService"
                contract="LoginService.ILoginService" name="WSDualHttpBinding_ILoginService">
                <identity>
                    <userPrincipalName value="DESKTOP-UN4IR9N\Jarko" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GameService/GameService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService"
                contract="GameService.IGameService" name="WSDualHttpBinding_IGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-UN4IR9N\Jarko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>